{% extends 'base.html.twig' %}

{% block title %}Ligne{% endblock %}

{% block body %}
    <h1>Ligne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne.id }}</td>
            </tr>
            <tr>
                <th>Nom_ligne</th>
                <td>{{ ligne.nomLigne }}</td>
            </tr>
            <tr>
                <th>Type_ligne</th>
                <td>{{ ligne.typeLigne }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ligne_index') }}">back to list</a>

    <a href="{{ path('app_ligne_edit', {'id': ligne.id}) }}">edit</a>

    {{ include('ligne/_delete_form.html.twig') }}
{% endblock %}
