{% extends 'Front/front.html.twig' %}

{% block title %}Mes Reclamations
{% endblock %}

{% block body %}

<footer id="footer">
	<section>


	


<table>
  <tr>
    <th>Objet</th>
    <th>Message</th>
    <th>Statut</th>
	<th>Date</th>
	<th>Supprimer</th>
	<th>Modifier</th>
  </tr>
 
{% for data in list %}
 <tr>
     <td> {{ data.objet }} </td>
     <td> {{ data.message_rec }} </td>
     <td> {{ data.statut }} </td>
	 <td> {{ data.date_rec|date("m/d/Y") }} </td>
	 <td>
                                    
										<a href="{{ path('delete_reclamation', {'id': data.id_reclamation}) }}"  class="btn btn-outline-danger btn-fw;">Supprimer</a>
									</td>

                                   
									<td>
										<a  href="{{ path('update_reclamation', {'id': data.id_reclamation}) }}" class="btn btn-outline-warning btn-fw;">
											Modifier</a>
									</td>
     </tr>
 {% endfor %}
</table>

						</section>
						


						{% endblock %}
