{% extends 'Front/front.html.twig' %}

{% block title %}Mes Reclamations
{% endblock %}

{% block body %}

<footer id="footer">
	<section>


	


<table>
  <tr>
    <th>Objet</th>
    <th>Message</th>
    <th>Statut</th>
	<th>Date</th>
	<th>text Reponse</th>
	<th>Supprimer</th>
	<th>Modifier</th>
	<th>Pdf</th>
  </tr>
 
{% for data in list %}
 <tr>
     <td> {{ data.objet }} </td>
     <td> {{ data.message_rec }} </td>
     <td> {{ data.statut }} </td>
	 <td> {{ data.date_rec|date("m/d/Y") }} </td>
	 <td> {% if data.reponse is null %}
								En Cours

							{% else %}
								{{ data.reponse.text_rep }}
							{% endif %}

{# 
							 {% if data.reponse is null %}

							<a href="{{ path('delete_reclamation', {'id': data.id_reclamation}) }}" class="btn btn-light" style="padding: 0.75rem 1rem;">
								<i class="bi bi-trash"></i>
							</a>
							<a href="{{ path('update_reclamation', {'id': data.id_reclamation}) }}" class="btn btn-light" style="padding: 0.75rem 1rem; margin-left: 10px;">
								<i class="bi bi-arrow-clockwise"></i>
							</a>


						{% else %}
							<a href="{{ path('app_pdfr', {'id': data.id_reclamation}) }}" class="btn btn-light" style="padding: 0.75rem 1rem;">
								<i class="bi bi-file-earmark-pdf"></i>
							</a>

						{% endif %}
							</td> #}

	 <td>
                                    
			<a href="{{ path('delete_reclamation', {'id': data.id_reclamation}) }}"  class="btn btn-outline-danger btn-fw;">Supprimer</a>
		</td>

                                   
									<td>
										<a  href="{{ path('update_reclamation', {'id': data.id_reclamation}) }}" class="btn btn-outline-warning btn-fw;">
											Modifier</a>
									</td>
									<td>
									<a href="{{ path('app_pdfr', {'id': data.id_reclamation}) }}" class="btn btn-light" style="padding: 0.75rem 1rem;">
    <i class="bi bi-file-earmark-pdf"></i>
          exporter pdf</a>

		 </td> 
     </tr>
 {% endfor %}
</table>

						</section>
						{{ knp_pagination_render(list) }}
{#</div></div><div class="pagination">{{ knp_pagination_render(list) }}</div></div>#}{% endblock %}


