{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <a href="{{ path('app_ticket_new') }}">Create new</a>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.prix }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}"><button style="background-color: yellow;">Afficher</button></a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}"><button style="background-color: green;">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
